<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a class="logo" href="">
        <span class="logo-accent">SIMPLY</span>CHOCOLATE</a
      >
      <svg class="logo-svg" width="24" height="24">
        <use href=""></use>
      </svg>
      <ul class="header-nav_list">
        <li class="header-nav-list_item">
          <a class="header-nav-list_item" href="">Home</a>
        </li>
        <li class="header-nav-list_item">
          <a class="header-nav-list_item" href="">How it’s made?</a>
        </li>
        <li class="header-nav-list_item">
          <a class="header-nav-list_item" href="">Chocolate is loved</a>
        </li>
      </ul>

      <ul class="header-social-list">
        <li class="header-social-list_item">
          <a class="header-social-list_link" href="">
            <svg class="header-social-list_svg" width="24" height="24">
              <use href="../img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-list_item">
          <a class="header-social-list_link" href="">
            <svg class="header-social-list_svg" width="24" height="24">
              <use href="../img/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="button-menu_svg">
        <svg class="" width="24" height="24">
          <use href="../img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
