<header class="header">
  <div class="container">
    <nav class="header-nav">
      <p class="logo">
        <span class="logo-accent">SIMPLY</span>
        <span>CHOCOLATE</span>
        <img class="logo-img" src="../img/logo.svg" alt="" />
      </p>
      <div class="nav-box">
        <ul class="header-nav_list">
          <li class="header-nav-list_item">
            <a class="header-nav-list_link active" href="">Home</a>
          </li>
          <li class="header-nav-list_item">
            <a class="header-nav-list_link" href="">How it’s made?</a>
          </li>
          <li class="header-nav-list_item">
            <a class="header-nav-list_link" href="">Chocolate is loved</a>
          </li>
        </ul>

        <ul class="header-social_list">
          <li class="header-social-list_item">
            <a class="header-social-list_link" href="">
              <svg class="header-social-list_svg" width="24" height="24">
                <use href="../img/sprite.svg#inst"></use>
              </svg>
            </a>
          </li>
          <li class="header-social-list_item">
            <a class="header-social-list_link" href="">
              <svg class="header-social-list_svg" width="24" height="24">
                <use href="../img/sprite.svg#twitt"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <button class="header-menu_btn">
        <svg class="menu-svg" width="21" height="14">
          <use href="./img/sprite.svg#menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
