<section class="hero section">
  <div class="container">
    <div class="background-image">
      <h1 class="hero-title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h1>
      <div class="hero-box_btn">
        <ul class="hero-list_btn">
          <li class="hero-item_btn">
            <button class="hero-btn hero-btn_buy" type="button" data-modal-open>
              Buy now
            </button>
          </li>
          <li class="hero-item_btn">
            <button class="hero-btn hero-btn_how" type="button">
              How it’s made
            </button>
          </li>
        </ul>
        <a href="" class="scroll-down">
          <span>scroll down</span>
          <span>
            <svg class="icon-scroll" width="27" height="27">
              <use href="../img/sprite.svg#scrol"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
