<section class="section">
  <div class="container">
    <h2 class="made-title">How it’s made?</h2>
    <div class="made-box">
      <picture>
        <source
          media="(min-width: 1158px)"
          srcset="../img/desctop/made-desk.jpg"
        />

        <source
          media="(min-width: 768px)"
          srcset="../img/tablet/made-tab.png"
        />
        <img src="../img/mobile/made-mob.jpg" alt="" />
      </picture>

      <div class="made-wrapper">
        <h3 class="made-subtitle">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="made-list">
          <li class="made-list-item">
            <span class="made-list-decor"></span>
            <p class="made-list-text">
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </p>
          </li>
          <li class="made-list-item">
            <span class="made-list-decor"></span>
            <p class="made-list-text">
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li class="made-list-item">
            <span class="made-list-decor"></span>
            <p class="made-list-text">
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </p>
          </li>
          <li class="made-list-item">
            <span class="made-list-decor"></span>
            <p class="made-list-text">
              Heat the mixture over low heat, letting it barely boil.
            </p>
          </li>
          <li class="made-list-item">
            <span class="made-list-decor"></span>
            <p class="made-list-text">
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
