<section class="product section">
  <div class="container">
    <h2 class="product-title">
      It all adds up to one exceptional
      <span class="product-accent">taste </span>sensation  
    </h2>
    <p class="product-description">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>

    <ul class="product-list">
      <li class="product-list_item">
        <img
          class="prodcuts-list_img"
          src="../img/product/kisspng-milk-white-chocolate-hot-chocolate-chocolate-bar-c-5af7417b10bc19 1-1.jpg"
          alt=""
        />
        <div class="ovelay">
          <h2></h2>
          <ul>
            <li><button></button></li>
            <li><button></button></li>
            <p class="overlay-text">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </ul>
        </div>
      </li>
      <li class="product-list_item">
        <img
          class="prodcuts-list_img"
          src="../img/product/mobile/product-mobile-milk.jpg"
          alt=""
        />
        <div class="ovelay">
          <h2></h2>
          <ul>
            <li><button></button></li>
            <li><button></button></li>
            <p class="overlay-text">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </ul>
        </div>
      </li>
      <li class="product-list_item">
        <img
          class="prodcuts-list_img"
          src="../img/product/kisspng-milk-white-chocolate-hot-chocolate-chocolate-bar-c-5af7417b10bc19 1.jpg"
          alt=""
        />
        <div class="ovelay">
          <h2></h2>
          <ul>
            <li><button></button></li>
            <li><button></button></li>
            <p class="overlay-text">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </ul>
        </div>
      </li>
      <li class="product-list_item">
        <img
          class="prodcuts-list_img"
          src="../img/product/mobile/product-mobile-cafe-nuts.jpg"
          alt=""
        />
        <div class="ovelay">
          <h2></h2>
          <ul>
            <li><button></button></li>
            <li><button></button></li>
            <p class="overlay-text">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
