<section class="product section">
  <div class="container">
    <h2 class="product-title">
      It all adds up to one exceptional
      <span class="product-accent">taste </span>sensation  
    </h2>
    <p class="product-description">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>

    <ul class="product-list">
      <li class="product-list_item">
        <picture>
          <source
            srcset="
              ../img/product/mobile/product-mobile-chocolate.jpg    1x,
              ../img/product/mobile/product-mobile-chocolate@2x.jpg 2x,
              ../img/product/mobile/product-mobile-chocolate@3x.jpg 3x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />
          <img
            class="prodcuts-list_img"
            src="../img/product/mobile/product-mobile-chocolate.jpg"
            alt=""
          />
        </picture>
        <h3></h3>
        <div></div>
      </li>
      <li class="product-list_item">
        <picture>
          <source
            srcset="
              ../img/product/mobile/product-mobile-milk.jpg    1x,
              ../img/product/mobile/product-mobile-milk@2x.jpg 2x,
              ../img/product/mobile/product-mobile-milk@3x.jpg 3x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />
          <img
            class="prodcuts-list_img"
            src="../img/product/mobile/product-mobile-milk.jpg"
            alt=""
          />
        </picture>
        <h3></h3>
      </li>
      <li class="product-list_item">
        <picture>
          <source
            srcset="
              ../img/product/mobile/product-mobile-nuts.jpg    1x,
              ../img/product/mobile/product-mobile-nuts@2x.jpg 2x,
              ../img/product/mobile/product-mobile-nuts@3x.jpg 3x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />
          <img
            class="prodcuts-list_img"
            src="../img/product/mobile/product-mobile-nuts.jpg"
            alt=""
          />
        </picture>
        <h3></h3>
      </li>
      <li class="product-list_item">
        <picture>
          <source
            srcset="
              ../img/product/mobile/product-mobile-cafe-nuts.jpg    1x,
              ../img/product/mobile/product-mobile-cafe-nuts@2x.jpg 2x,
              ../img/product/mobile/product-mobile-cafe-nuts@3x.jpg 3x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />
          <img
            class="prodcuts-list_img"
            src="../img/product/mobile/product-mobile-cafe-nuts.jpg"
            alt=""
          />
        </picture>
        <h3></h3>
      </li>
    </ul>
  </div>
</section>
