<section class="section">
  <div class="container">
    <h2 class="product-title">
      It all adds up to one exceptional taste sensation  
    </h2>
    <p class="product-description">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>

    <ul class="product-list">
      <li class="product-list_item">
        <img src="../img/mobile/milk-1m.png" alt="" />
        <h3 class="product-list_subtitle">Milk Chocolate</h3>
        <div class="overlay">
          <h2 class="product-overlay-title">Milk chocolate</h2>
          <ul class="overlay-list">
            <li class="overlay-list_item">
              <button class="overlay-list-btn">chocolate</button>
            </li>
            <li class="overlay-list_item">
              <button class="overlay-list-btn">the benefits</button>
            </li>
          </ul>
          <p class="overlay-text">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>

      <li class="product-list_item">
        <img src="../img/mobile/milk-2m.png" alt="" />
        <h3 class="product-list_subtitle">Milk Chocolate</h3>
        <div class="overlay">
          <h2 class="product-overlay-title">Milk chocolate</h2>
          <ul class="overlay-list">
            <li class="overlay-list_item">
              <button class="overlay-list-btn">chocolate</button>
            </li>
            <li class="overlay-list_item">
              <button class="overlay-list-btn">the benefits</button>
            </li>
          </ul>
          <p class="overlay-text">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>

      <li class="product-list_item">
        <img src="../img/mobile/milk-3m.png" alt="" />
        <h3 class="product-list_subtitle">Milk Chocolate</h3>
        <div class="overlay">
          <h2 class="product-overlay-title">Milk chocolate</h2>
          <ul class="overlay-list">
            <li class="overlay-list_item">
              <button class="overlay-list-btn">chocolate</button>
            </li>
            <li class="overlay-list_item">
              <button class="overlay-list-btn">the benefits</button>
            </li>
          </ul>
          <p class="overlay-text">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>

      <li class="product-list_item">
        <img src="../img/mobile/milk-4m.png" alt="" />
        <h3 class="product-list_subtitle">Milk Chocolate</h3>
        <div class="overlay">
          <h2 class="product-overlay-title">Milk chocolate</h2>
          <ul class="overlay-list">
            <li class="overlay-list_item">
              <button class="overlay-list-btn">chocolate</button>
            </li>
            <li class="overlay-list_item">
              <button class="overlay-list-btn">the benefits</button>
            </li>
          </ul>
          <p class="overlay-text">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
