<section class="section">
  <div class="container">
    <h2 class="review-title">Chocolate is loved</h2>
    <ul class="review-list">
      <li class="review-list_item">
        <img src="/img/rev-1.png" alt="" class="review-list_img" />
        <div class="review-box">
          <h3 class="review-list_subtitle">Victoria Dobrzhanska</h3>
          <p class="review-list_text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
      <li class="review-list_item">
        <img src="/img/rev-2.png" alt="" class="review-list_img" />
        <div class="review-box">
          <h3 class="review-list_subtitle">Nazar Babenko</h3>
          <p class="review-list_text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
      </li>
      <li class="review-list_item">
        <img src="/img/rev-3.png" alt="" class="review-list_img" />
        <div class="review-box">
          <h3 class="review-list_subtitle">Olena Kampusch</h3>
          <p class="review-list_text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>
    </ul>
    <ul class="review-decor_list">
      <li class="review-decor_item">
        <span class="review-decor_dot"> </span>
      </li>
      <li class="review-decor_item">
        <span class="review-decor_dot"> </span>
      </li>
      <li class="review-decor_item">
        <span class="review-decor_dot"> </span>
      </li>
    </ul>
    <button type="button" class="review-btn" data-modal-open>
      Leave a review
    </button>
  </div>
</section>
