.header .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--black);
  padding-top: 25px;
  padding-bottom: 9px;
}
.logo-accent {
  font-style: italic;
  margin-right: 4px;
}
.logo-img {
  margin-left: 4px;
}

.nav-box {
  display: none;
}

.header-manu_btn {
  width: 28px;
  height: 28px;
}

.menu-svg {
  stroke: black;
}

@media only screen and (min-width: 768px) {
  .header .container {
    display: block;
  }

  .container {
    max-width: 768px;
  }

  .header-nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .logo {
    padding-top: 27px;
    padding-bottom: 25px;
  }

  .nav-box {
    display: flex;
    gap: 48px;
  }

  .header-nav_list {
    display: flex;
    gap: 24px;
  }

  .header-nav-list_link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--violet);
  }

  .header-social_list {
    display: flex;
    gap: 18px;
  }

  .header-social-list_link {
    fill: none;
    stroke: var(--violet);
    transition: stroke 250ms ease-in-out;
  }

  .header-menu_btn {
    display: none;
  }
}
