.header .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.header-nav {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--black);

  padding-top: 25px;
  padding-bottom: 9px;
}
.logo-accent {
  font-style: italic;
  margin-right: 4px;
}
.logo-img {
  margin-left: 4px;
}
.nav-container {
  display: none;
}
.header-nav_list {
}
.header-nav-list_item {
}
.header-social-list {
}
.header-social-list_item {
}
.header-social-list_link {
}
.header-social-list_svg {
}

.header-manu_btn {
  width: 28px;
  height: 28px;
}

.menu-svg {
  stroke: black;
}
