.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
}
.header-nav {
  display: flex;
}
.logo {
}
.logo-accent {
}
.header-nav_list {
  display: none;
}
.header-nav-list_item {
}
.header-social-list {
  display: none;
}
.header-social-list_item {
}
.header-social-list_link {
}
.header-social-list_svg {
}

.button-menu_svg {
  width: 24px;
  height: 24px;
}
