.section {
  padding-top: 10px;
  padding-bottom: 60px;
}

.background-image {
  background-image: url(../img/background/mobile/background-mobile.jpg);
  max-width: 335px;
  height: 620px;
  margin: 0 auto;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}

.hero-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--white);
  max-width: 295px;
}

.hero-box_btn {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .background-image {
    background-image: url(../img/background/tablet/background-tablet.jpg);
    max-width: 704px;
    height: 890px;
    padding: 40px;
  }
}
